@tailwind base;
@tailwind components;
@tailwind utilities;

.img{
    
    background-image:none;
}

/* .bg-img1{
    
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.1)), url("./assets/images/hero.png");
} */

.bg-img{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%),url("./assets/images/hero.png");
}
.TvImg{
    background-image: url("./assets/images/tv.png");
}